version: '3.8'

services:
  minio:
    container_name: minio_local
    image: minio/minio:latest
    ports:
      - '9010:9000'
      - '9100:9090'
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_CONFIG_ENV_FILE=/etc/config.env
      - MINIO_API_SELECT_PARQUET=on
    volumes:
      - minio-data:${MINIO_VOLUMES}
      - ./credentials/.env.dev:/etc/config.env
    command: server --console-address ":9090"
    networks:
      - minio-net

networks:
  minio-net:
    external: true
